@{
}

<div class="jumbotron">
    <h1>@ViewBag.Counter</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-default" href="@Url.Action("IncreaseCounter")">Increase Count</a></p>
    </div>
</div>